@model WebApp.Areas.Admin.Models.LessonModel

@{
    ViewData["Title"] = "Details";
}
<h1>Details</h1>

<div>
    <h4>LessonModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LessonName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LessonName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Video)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Video)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Course)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Coach)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Coach.Address)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
